@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-text-color: #3b413c;
    --secondary-text-color: #FFFFFF;

    --background-color: #DAF0EE;
    --secondary-background-color: #FFFFFF;
    --tertiary-background-color: #9DB5B2;

    --tertiary-color: #94D1BE;

    --font-size-title--big: 5rem;
    --font-size-title--medium: 3rem;
    --font-size-title--default: 2rem;

    --font-size-default: 1.2rem;

    --default-radius: 5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
    font-size: 62.5%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav--col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-link {
    display: flex;
    list-style: none;
}

.nav-link__item {
    padding: 0 1rem;
    font-size: 1.5rem;
    position: relative;
}

.nav-link__text {
    text-decoration: none;
    color: black;
}

/*show underline active link*/
.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: #444444;
}

.logo-container {
    display: flex;
    gap: 1rem;
}

.logo-container__logo {
    height: 6rem;
    border-radius: 50%;
}

.menu-icon {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.hero-section {
    position: relative;
    border-top-left-radius: var(--default-radius);
    border-top-right-radius: var(--default-radius);
}

.hero-container {
    border-top-left-radius: var(--border-corner-radius);
    border-top-right-radius: var(--border-corner-radius);
    position: relative;
}

.hero-container__img {
    height: 40rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: var(--default-radius);
    border-top-right-radius: var(--default-radius);
}

.hero-container-text-block {
    position: absolute;
    top: 20%;
    left: 11%;
    color: #ffffff;
}

.hero-container__title {
    font-size: var(--font-size-title--big);
}

.hero-container__subtitle {
    font-size: var(--font-size-default);
}

/* PET SEARCH */

.pet-finder {
    position: absolute;
    top: 75%;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: var(--secondary-background-color);
    border-radius: 5rem;
}

.pet-finder-search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(93% 0, 100% 48%, 93% 100%, 0 100%, 0 0);
    background-color: var(--background-color);
    font-size: var(--font-size-default);
    gap: 1rem;
    padding: 0 2rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.pet-finder-search-section__input {
    border: none;
    background-color: transparent;
}

.pet-finder-search-section__input:focus {
    outline: none;
}

.pet-finder-search-section__icon {

}

.pet-finder-btn-area {
    display: flex;
}

.pet-finder-btn-area-col {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-default);
    padding: 2rem 2rem;
    gap: .5rem;
    text-decoration: none;
    color: var(--primary-text-color);
}

.pet-finder-btn-area-col:hover {
    color: var(--tertiary-color);
}

.pet-finder-btn-area-col--border-right {
    border-right: 1px solid var(--primary-text-color);
}

.pet-list-area {
    padding: 10rem 13rem;
    background-color: var(--background-color);
    border-bottom-left-radius: var(--default-radius);
    border-bottom-right-radius: var(--default-radius);
}

.pet-list-area-text-row {
    display: flex;
    justify-content: space-between;
    color: var(--primary-text-color);
}

.pet-list-area-text-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pet-list-area__subtitle {
    position: relative;
    font-size: var(--font-size-default);
    text-transform: capitalize;
}

.pet-list-area__subtitle::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    height: 3px;
    width: 4rem;
    background-color: var(--tertiary-color);
}

.pet-list-area__title {
    font-size: var(--font-size-title--medium);
    font-weight: 500;
}

.pet-list-area__btn {
    display: flex;
    align-items: center;
    font-size: var(--font-size-default);
    text-transform: uppercase;
    align-self: flex-end;
    text-decoration: none;
    color: var(--primary-text-color);
    margin-top: auto;
}

.pet-list {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
}

.pet-card {
    position: relative;
    width: 30%;
    height: auto;
    overflow: hidden;
}

.pet-card-img-container {
    position: relative;
    height: 25rem;
    width: 100%;
}

.pet-card__img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pet-card-info {
    position: absolute;
    width: 100%;
    height: 10rem;
    text-align: center;
    bottom: -20%;
    background-color: var(--secondary-background-color);
    clip-path: ellipse(50% 50% at 50% 50%);
    z-index: 100;
    font-size: var(--font-size-default);
    color: var(--primary-text-color);
}

.pet-card-info__name {
    padding-top: 1.5rem;
    font-weight: 600;
}

/*SECTION2*/